.venv/
**/__pycache__/**
soln.log
output.crf
output.sum
temp.wrk
cont.otg
contproc-run-status.csv
control.cntl
datacheck.txt
runs.cases
duplicate.txt
sstools.sav
term.log
case.pcrf
output.pcrf
Output.xlsx
run.bat
template.ctab
contproc-run-status_contingency_errors.csv
font-color
gediwork.drw
gediworkScan.drw
winter.sav
summer.drw
summer.sav
hs_err*
basecase.sav